.progress-tall {
    height: 37px;
}

.bar-text-bg {
    font-size: 25px;
}

.progress-container {
    margin-bottom: 2rem;
}

.card {
    margin-bottom: 3rem;
}

.card-title {
    font-weight: bold;
}

.progress-bar {
    line-height: 35px;
    -webkit-transition: none !important;
    transition: none !important;
    font-family: 'Francois One', sans-serif;
}

h1, p {
    text-align: center;
    margin-bottom: 25px;
    color: #465059;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 3.5%;
}

body {
    background-color: #fff;
    height: 100%;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

body {
    background-image: url("../img/light.gif");
    transition-duration: 0.8s;
}

#divImg {
    content: url("../img/student.png");
    height: 30vh;
    width: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline-light:hover {
    color: #465059;
    background-color: #e9ecef;
    border-color: rgba(0,0,0,.125);
}

.btn-outline-light {
    color: #5e676f;
    border: 1px solid rgba(0,0,0,.125);
}

.float {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.sun {
    background-color: #ffffff;
    color: #465059;
}

.moon {
    background-color: #465059;
    color: #ffffff;
}

.my-float {
    margin-top: 12px;
}

.dark .btn-outline-light:hover {
    color: #fff;
    background-color: #2e2e2e;
}

.dark .btn-outline-light {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dark .card {
    background-color: #2e2e2e;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dark, .dark p, .dark h1 {
    color: #fff;
}

.dark-body {
    background-image: url("../img/dark.jpg");
    transition-duration: 0.8s;
}

.moon:hover {
    color: #ffffff;
}

.sun:hover {
    color: #465059;
}

@media only screen and (min-width: 600px) {
    .img {
        margin-top: 5%;
    }

    #divImg {
        height: 35vh;
        width: 35vh;
    }

    h1 {
        font-size: 40px;
    }
}

@keyframes jump {
    0% {
        transform: translate3d(0,0,0) scale3d(1,1,1);
    }

    40% {
        transform: translate3d(0,1.5%,0) scale3d(1,1,1);
    }

    100% {
        transform: translate3d(0,2.5%,0) scale3d(1,1,1);
    }
}

.jump {
    transform-origin: 50% 50%;
    animation: jump 1.5s linear alternate infinite;
}
